@import 'normalize.css';
@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');
:root {
    --primary: #fe2c55;
    --black: #000;
    --white: #fff;
    --text-color: #333;
    // Default Layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-layout-horizontal-spacer: 24px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Proxima Nova';
    font-size: 1.6 rem;
    line-height: 1.5 rem;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
}

input,
button,
[tabindex] {
    font-family: 'Proxima Nova';
    border: none;
    outline: none;
}

a[href] {
    color: var(--black);
    font-weight: 600;
    text-decoration: none;
}
