.wrapper {
    border-top: 1px solid #f3f3f5;
}

.label {
    font-size: 1.4rem;
    font-weight: 600;
    padding: 16px 8px 8px;
    color: #7d7d7d;
}

.account-item {
    display: flex;
    align-items: center;
    padding: 8px;
    line-height: 1.4rem;
    cursor: pointer;
}

.avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
}

.item-info {
    flex: 1;
    margin-left: 12px;
}

.user-name {
    font-size: 1.6rem;
    color: #161823;
}

.nickname {
    font-size: 1.2rem;
    opacity: #161823bf;
}

.check {
    font-size: 1.4rem;
    color: #20d5ec;
    margin-left: 4px;
}

.more-btn {
    font-size: 1.4rem;
    font-weight: 700;
    color: #fe2c55;
    padding: 8px 8px 16px;
    cursor: pointer;
}
